body {
  padding-top: 5em;
}

.push {
  padding-top: 1em;
}

.push-lg {
  padding-top: 4em;
}

.push-sm {
  padding-top: 0.5em;
}

.push-bottom {
  padding-bottom: 1em;
}

.push-bottom-lg {
  padding-bottom: 4em;
}

.push-bottom-sm {
  padding-bottom: 0.5em;
}

pre {
  margin: 0;
}

.card {
  background: aliceblue;
}
